<!--component html goes here -->
      <!-- CORPORATE APPLICATION FOOTER -->
      <section id="app-footer">
        <footer id="footer">
          <div class="container-fluid">
            <article class="media col-xs-12">
              <div class="media-body">
                <div class="row">
                  <div class="col-sm-8 col-md-9">
                    <nav id="footer-nav"><span class="together"><a href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=c3ae1f42c1744410VgnVCM10000071d60f89RCRD"><img src="assets/img/icon-group.svg" alt="">Jobs</a> <a href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=84a7e03bb8d1e310VgnVCM10000071d60f89RCRD"><img src="assets/img/icon-chat.svg" alt="">Media Room</a> <a href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=1093e03bb8d1e310VgnVCM10000071d60f89RCRD"><img src="assets/img/icon-mobile-phone.svg" alt="">Contact Us</a> </span>
                      <span class="together">
                        <a href="//www1.toronto.ca//www1.toronto.ca/wps/portal/contentonly?vgnextoid=cf00b9d33ccb5410VgnVCM10000071d60f89RCRD"><img src="assets/img/icon-support.svg" alt="">Customer Service</a>
                        <a id="footer311" title="311 Toronto"
                          href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=86d3ba2ae8b1e310VgnVCM10000071d60f89RCRD"><img src="assets/img/icon-311.svg" alt="3-1-1"></a>
                        <a id="translatelink" href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=4be8b9bd23805410VgnVCM10000071d60f89RCRD&amp;vgnextchannel=8e79f9be8db1c310VgnVCM1000006cd60f89RCRD"><img src="assets/img/icon-flag.svg" alt="">Translate</a>
                        </span>
                    </nav>
                  </div>
                  <div class="col-sm-4 col-md-3">
                    <nav id="social-nav">
                      <span>Connect:</span>
                      <span class="together">
                        <a href="http://twitter.com/TorontoComms">
                        <img src="assets/img/icon-twitter.svg" alt="Follow us on Twitter">
                        </a>
                        <a href="https://www.facebook.com/cityofto/">
                        <img src="assets/img/icon-facebook.svg" alt="Follow us on Facebook">
                        </a>
                        <a href="https://www.instagram.com/cityofto/">
                        <img src="assets/img/icon-instagram.svg" alt="Follow us on Instagram">
                        </a>
                        </span>
                      <span class="together">
                        <a href="http://youtube.com/thecityoftoronto">
                        <img src="assets/img/icon-youtube.svg" alt="Subscribe to us on YouTube">
                        </a>
                        <a href="https://www.linkedin.com/company/city-of-toronto">
                        <img src="assets/img/icon-linkedin.svg" alt="Follow us on LinkedIn">
                        </a>
                        <a href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=50e41a4acc6e1410VgnVCM10000071d60f89RCRD">
                        <img src="assets/img/icon-view-all.svg" alt="View all ways to connect with us">
                        </a>
                        </span>
                    </nav>
                  </div>
                </div>
                <hr>
                <p>
                  <a href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=d57ab9bd23805410VgnVCM10000071d60f89RCRD&amp;vgnextchannel=8e79f9be8db1c310VgnVCM1000006cd60f89RCRD"><span class="glyphicon glyphicon-copyright-mark"></span> City of Toronto 1998 - 2017</a> <span class="separator">|</span>                  <a href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=539548ab95d83410VgnVCM10000071d60f89RCRD&amp;vgnextchannel=8e79f9be8db1c310VgnVCM1000006cd60f89RCRD">Privacy</a>                  <span class="separator">|</span> <a href="//www1.toronto.ca/wps/portal/contentonly?vgnextoid=8fd7e03bb8d1e310VgnVCM10000071d60f89RCRD">Accessibility</a></p>
              </div>
              <!-- media-body -->
            </article>
            <!-- end article -->
          </div>
        </footer>
      </section>