<!--component html goes here -->
<div id="app-content-full" class="col-xs-12">
    <div class="row">
        <section id="app-content-top" class="col-xs-12">
            <div></div>
        </section>
        <section id="app-content-left" class="col-xs-12">
            <div>

                <p-tabView #tabView [style]="{'min-width':'1046px'}" (onChange)="handleTabChange($event)">
                    <!--<button pButton type="button" *ngIf="tabView.tabs ? tabView.tabs.length > 0 : false" class="ui-button-success" label="New" icon="fa-plus" (click)="navigateToNew()" style="float: right;margin-top: 5px;"></button>-->

                    <p-tabPanel header="Extracts" leftIcon="fa-database" [hidden]="!sharedService.user.role.roles.views?.configListView">

                        <p-dataTable #dt [ellipsis]="true" loadingIcon="fa-spinner" [value]="configurationList" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20,25,30]" [responsive]="true" role="region" id="divisionsDT" aria-live="polite" [loading]="loading"
                            selectionMode="single" [(selection)]="selectedConf">
                            <p-header>

                                <span>Extracts Matrix</span>
                                <div style="float:right"> <span id='savedMsg'></span>
                                    <button pButton *ngIf="sharedService.user.role.roles.configListView.showNewConfigButton" type="button" class="ui-button-success" label="New Extract" icon="fa-plus" (click)="navigateToNew('epm')" style="margin: 0px; margin-top: -3px;padding: 0;"></button>
                                </div>
                            </p-header>
                            <p-footer *ngIf="configurationList.length && configurationList.length > 0">There are <strong>{{configurationList.length}}</strong> Configurations</p-footer>

                            <p-column styleClass="col-button" header="Enabled" field="enabled" [sortable]="true" [filter]="false" [style]="{'width':'89px','text-align':'center'}">
                                <ng-template let-conf="rowData" pTemplate="body">
                                    <label for="enabled" class="ui-helper-hidden-accessible">Enabled</label>
                                    <p-toggleButton [disabled]="sharedService.block||true" (onChange)="toggleEnable($event,conf)" onLabel="" offLabel="" name="enabled" inputId="enabled" onIcon="fa-check-square" offIcon="fa-square-o" [ngModel]="conf?.enabled" (ngModelChange)="conf ? conf.enabled=$event : null">
                                        <!-- [style]="{'color': '#000000','background-color': '#ffffff','border': '1px solid #cccccc'}"> -->
                                    </p-toggleButton>
                                </ng-template>
                            </p-column>

                            <p-column field="pmID" [sortable]="true" [filter]="true" [style]="{'width':'145px'}">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="idFilter">Extract ID</label>
                                    <input type="text" id="idFilter" (keyup)="dt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Extract ID" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column field="name" [sortable]="true" [filter]="true">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="nameFilter">Extract Name</label>
                                    <input type="text" id="nameFilter" (keyup)="dt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Extract Name" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column field="description" [sortable]="true" [filter]="true">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="descriptionFilter">Description</label>
                                    <input type="text" id="descriptionFilter" (keyup)="dt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Description" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column field="division" [sortable]="true" [filter]="true" [style]="{'width':'215px'}">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="divisionFilter">Division</label>
                                    <!--<p-dropdown [options]="appConfig.getDivionsList(true)" id="divisionFilter" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>-->
                                    <input type="text" id="divisionFilter" (keyup)="dt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Division" pInputText>
                                </ng-template>
                            </p-column>
                            <!-- <p-column field="sourceCategory" [sortable]="true" [filter]="true" [style]="{'width':'150px'}"> -->
                            <p-column field="sourceCategory" [sortable]="true" [filter]="true" [style]="{'width':'122px'}">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="categoryFilter">Category</label>
                                    <!--<p-dropdown [options]="appConfig.getSourceCategoryList(true)" id="categoryFilter" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>-->
                                    <input type="text" id="categoryFilter" (keyup)="dt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Category" pInputText>
                                </ng-template>
                            </p-column>

                            <p-column header="Action" styleClass="col-button" [style]="{'text-align':'center','width': '189px'}" *ngIf="sharedService.user.role.roles.configListView.showConfigButton">
                                <ng-template let-conf="rowData" pTemplate="body" let-index="rowIndex">
                                    <p-splitButton label="Configure" icon="fa fa-list" styleClass="ui-button-secondary" (onClick)="navigateToModify(conf)" (onDropdownClick)="!dt.isSelected(conf) ? dt.selectRowWithRadio($event, conf): ''" [model]="items"></p-splitButton>
                                    <!-- <p-menu #menu popup="true" [value]="conf" appendTo="body" [data]="conf" [model]="items"></p-menu>
                                    <button type="button" pButton class="ui-button-secondary" icon="fa fa-list" label="Actions" (click)="!dt.isSelected(conf) ? dt.selectRowWithRadio($event, conf): '' ;menu.toggle($event)"></button> -->
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>


                    <p-tabPanel header="Users" leftIcon="fa-users" *ngIf="sharedService.user.role.roles.views?.userListView">

                        <p-dataTable #udt [value]="usersList" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20,25,30]" [responsive]="true" role="region" id="divisionsDT" aria-live="polite">
                            <p-header>

                                <span>Users List</span>
                                <div style="float:right">
                                    <button pButton *ngIf="sharedService.user.role.roles.userListView?.showNewUserButton" type="button" class="ui-button-success" label="New User" [routerLink]="['/newUser']" icon="fa-user-plus" style="margin: 0px; margin-top: -3px;padding: 0;"></button>
                                </div>
                            </p-header>
                            <p-footer *ngIf="usersList.length && usersList.length > 0">There are <strong>{{usersList.length}}</strong> Users</p-footer>
                            <p-column field="userID" [sortable]="true" [filter]="true" [style]="{'width':'175px'}">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="uIdFilter">User ID</label>
                                    <input type="text" id="uIdFilter" (keyup)="udt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="User ID" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column field="name" [sortable]="true" [filter]="true">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="uNameFilter">Name</label>
                                    <input type="text" id="uNameFilter" (keyup)="udt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Name" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column field="divisions" [sortable]="true" [filter]="true" [style]="{'width':'215px'}">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="uDivisionFilter">Division</label>
                                    <!--<p-dropdown [options]="appConfig.getDivionsList(true)" id="divisionFilter" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>-->
                                    <input type="text" id="uDivisionFilter" (keyup)="udt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Division" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column field="dataSources" [sortable]="true" [filter]="true">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="uDsFilter">Category</label>
                                    <input type="text" id="uDsFilter" (keyup)="udt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Category" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column field="group.name" [sortable]="true" [filter]="true">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="groupFilter">Group</label>
                                    <input type="text" id="groupFilter" (keyup)="udt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Group" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column header="Action" styleClass="col-button" [style]="{'text-align':'center'}" *ngIf="sharedService.user.role.roles.userListView?.showUpdateButton">
                                <ng-template let-user="rowData" pTemplate="body">
                                    <button type="button" pButton icon="fa-user" class="ui-button-secondary" (click)="navigateToUpdateUser(user)" label="Update"></button>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>


                    <p-tabPanel header="Meta-Data" leftIcon="fa-table">
                        <p-dataTable #mdt expandableRows="true" [ellipsis]="true" loadingIcon="fa-spinner" [value]="enabledConfigurationList" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20,25,30]" role="region" id="divisionsMD" aria-live="polite"
                            [loading]="loading">
                            <p-header>
                                <span>Extracts Meta-Data</span>
                            </p-header>

                            <p-footer *ngIf="enabledConfigurationList.length && enabledConfigurationList.length > 0">There are <strong>{{enabledConfigurationList.length}}</strong> Configurations</p-footer>

                            <p-column expander="true" styleClass="col-icon" [style]="{'width':'40px'}"></p-column>


                            <p-column field="pmID" [sortable]="true" [filter]="true" [style]="{'width':'145px'}">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="idFilter">Extract ID</label>
                                    <input type="text" id="idFilter" (keyup)="mdt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Extract ID" pInputText>
                                </ng-template>
                            </p-column>

                            <p-column field="sourceCategory" [sortable]="true" [filter]="true" [style]="{'width':'145px'}">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="categoryFilter">Category</label>
                                    <input type="text" id="categoryFilter" (keyup)="mdt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Category" pInputText>
                                </ng-template>
                            </p-column>

                            <p-column field="division" [sortable]="true" [filter]="true" [style]="{'width':'215px'}">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="divisionFilter">Division</label>
                                    <input type="text" id="divisionFilter" (keyup)="mdt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Division" pInputText>
                                </ng-template>
                            </p-column>

                            <p-column field="name" [sortable]="true" [filter]="true">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="nameFilter">Extract Name</label>
                                    <input type="text" id="nameFilter" (keyup)="mdt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Extract Name" pInputText>
                                </ng-template>
                            </p-column>
                            <p-column field="description" [sortable]="true" [filter]="true">
                                <ng-template pTemplate="filter" let-col>
                                    <label for="descriptionFilter">Description</label>
                                    <input type="text" id="descriptionFilter" (keyup)="mdt.filter($event.target.value,col.field,col.filterMatchMode)" placeholder="Description" pInputText>
                                </ng-template>
                            </p-column>

                            <p-column styleClass="col-button" header="Enabled" field="enabled" [sortable]="true" [filter]="false" [style]="{'width':'89px','text-align':'center'}">
                                <ng-template let-mconf="rowData" pTemplate="body">
                                    <label for="enabled" class="ui-helper-hidden-accessible">Enabled</label>
                                    <p-toggleButton [disabled]="sharedService.block||true" onLabel="" offLabel="" name="enabled" inputId="enabled" onIcon="fa-check-square" offIcon="fa-square-o" [ngModel]="mconf?.enabled">
                                    </p-toggleButton>
                                </ng-template>
                            </p-column>

                            <ng-template let-conf pTemplate="rowexpansion">
                                <div-meta-data [conf]="conf"></div-meta-data>
                            </ng-template>
                        </p-dataTable>
                    </p-tabPanel>
                </p-tabView>

            </div>
        </section>

        <section id="app-content-bottom" class="col-xs-12">
            <div>
            </div>
        </section>
    </div>
</div>
