/* You can add global styles to this file, and also import other style files */

.error_widget_wrapper {
    background: inherit;
    color: inherit;
    border: none
}

.error_widget {
    border-top: solid 2px;
    border-bottom: solid 2px;
    margin: 5px 0;
    padding: 10px 40px;
    white-space: pre-wrap;
}

.error_widget.ace_error,
.error_widget_arrow.ace_error {
    border-color: #ff5a5a
}

.error_widget.ace_warning,
.error_widget_arrow.ace_warning {
    border-color: #F1D817
}

.error_widget.ace_info,
.error_widget_arrow.ace_info {
    border-color: #5a5a5a
}

.error_widget.ace_ok,
.error_widget_arrow.ace_ok {
    border-color: #5aaa5a
}

.error_widget_arrow {
    position: absolute;
    border: solid 5px;
    border-top-color: transparent!important;
    border-right-color: transparent!important;
    border-left-color: transparent!important;
    top: -5px;
}

.ui-button.ui-togglebutton.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-active,
.ui-button.ui-togglebutton.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-state-active {
    color: #fff;
    background-color: #0275d8;
}

.ui-button.ui-togglebutton.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left,
.ui-button.ui-togglebutton.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

// ui-multiselect
body .ui-multiselect .ui-multiselect-trigger .fa {
    margin-top: 6px !important;
}

body .ui-multiselect:not(.ui-state-disabled) .ui-multiselect-trigger:hover {
    background-color: #fff !important;
}

body .ui-multiselect:not(.ui-state-disabled):hover .ui-multiselect-trigger {
    background-color: #fff !important;
}

body .ui-multiselect:not(.ui-state-disabled):hover,
body .ui-multiselect:not(.ui-state-disabled):focus {
    border-color: #66afe9 !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

body .ui-multiselect {
    background: #ffffff;
    display: block;
    // width: 100%;
    height: 34px;
    padding: 2px 9px !important;
    line-height: 1.42857;
    // color: rgb(85, 85, 85);
    // background-color: rgb(255, 255, 255);
    // background-image: none;
    border: 1px solid rgb(204, 204, 204) !important;
    border-radius: 4px !important;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

body .ui-multiselect .ui-multiselect-panel {
    width: inherit;
    border-color: #66afe9 !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    border-radius: 4px !important;
}

ul.ui-multiselect-items.ui-multiselect-list.ui-widget-content.ui-widget.ui-corner-all.ui-helper-reset {
    overflow: auto !important;
}

body .ui-multiselect .ui-multiselect-header {
    border-radius: 4px 4px 0 0 !important;
}

// ui-multiselect END
// body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
//     background-color: #0267bf;
// }

// .mytooltip:hover .tooltiptext {
//     visibility: visible;
//     overflow: visible;
// }



.ui-datatable .ui-cell-data .ui-datatable-tooltip {
  visibility: hidden;
  position: relative;
}

.ui-datatable .ui-cell-data:hover .ui-datatable-tooltip {
  visibility: visible;
  overflow: visible;
}

.ui-datatable .ui-datatable-tooltip .ui-tooltip-text {
  background-color: #4b4b4b;
  color: #fff;
  position: absolute;
  z-index: 1;
  padding: .125em .5em;
  margin-top: 3px;
  white-space: pre-line;
}

.ui-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
